/* 
==========================
DOCUMENT
==========================
*/

body {
  height: 100vh;
}

/* 
==========================
NAVBAR
==========================
*/

#toggle {
  border: 2px solid #737373;
}

.navbar-brand {
  margin-right: auto;
  margin-left: auto;
}

/* 
==========================
MAP
==========================
*/

#map {
  margin-top: 70px;
  height: 100%;
  width: 100%;
}

/* 
==========================
SIDEBAR
==========================
*/

hr {
  margin-bottom: 10px;
}

#sidebar {
  margin-top: 50px;
  height: 630px;
  width: 330px;
  left: 0;
  position: fixed;
  top: 7%;
  border-radius: 0px 10px 10px 0px;
}

hr {
  color: white;
  background-color: white;
  width: 95%;
  margin-bottom: 0;
}

#results {
  max-height: 490px;
  overflow-y: auto;
}

.search-result {
  float: left;
  width: 100%;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 3px 0 5px;
}

/* Shoutout to Kolten Craft @ https://www.steckinsights.com/shorten-length-border-bottom-pure-css/  */
.search-result:not(:first-of-type):before {
  content: "";
  display: block;
  margin: -10px auto 10px auto;
  padding: 0;
  width: 95%;
  border-bottom: 1px solid white;
}

.search-result:hover {
  background-color: #7e7e7e;
}

/* 
==========================
MEDIA QUERIES
==========================
*/

@media (max-width: 575.98px) {
  .navbar-brand {
    margin-left: auto;
    margin-right: 0;
  }

  nav {
    border-bottom: solid 1px white;
  }

  #sidebar {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
  }

  hr {
    margin-left: 5px;
    margin-right: 50px;
  }
}
